:root {
    --accent-color: #2196f3;
    --primary-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --footer-background-color: #2f303a;

    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --opacity-text-color: rgba(255, 255, 255, 0.6);
    --white-text-color: #ffffff;
    --icon-color: #afb1b8;

    --primary-font: Roboto, sans-serif;
    --logo-font: Raleway, sans-serif;

    --card-set-gap: 30px;

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
